@import "variables";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;

  h1 {
    text-transform: uppercase;
    margin-bottom: 50px;
    color: gray;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 50%;
    min-width: 300px;

    button {
      padding: 10px 20px;
      background-color: $primary-color;
      color: white;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: bold;
      border: none;
      align-self: flex-end;
      cursor: pointer;
      &:active,
      &:focus,
      &:hover {
        background-color: $primary-color-dark;
      }
    }
  }
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  input,
  textarea {
    padding: 10px 7px;
    border-radius: 10px;
    border: 3px solid darkgray;
    outline: 0;
    width: 100%;
    &:active,
    &:focus {
      border: 3px solid $secondary-color;
    }
  }
}
