@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  overflow-x: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 50px;
  max-width: 100vw;
  min-width: 100vw;

  @media screen and (max-width: 480px) {
    padding: 0;
  }
}

main {
  max-width: 1024px;
  width: 100%;
  margin-top: 64px;
  padding: 2rem 0;
}
