@import "variables";

.home {
  min-height: 70vh;
  display: flex;
  flex-direction: column;

  section {
    min-height: 200px;
    padding-bottom: 50px;
  }
  .heading {
    text-align: center;
    position: relative;
    margin: 10px 0 50px;
    h1 {
      color: gray;
      text-transform: uppercase;
      display: inline-block;
      background-color: white;
      padding: 0 20px;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: gray;
      top: 50%;
      right: 0;
      z-index: -99;
    }
  }
}
