@import "variables";

.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: flex-start;
  min-height: 70vh;
  gap: 20px;
  .img {
    width: 40%;
    max-height: 80vh;
    margin: 0 20px;
    object-fit: contain;
    flex-grow: 1;
    position: relative;
  }

  .info {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-grow: 1;

    @media screen and (max-width: 480px) {
      padding: 0 10px;
    }

    h5 {
      font-size: 1.5rem;
    }
    p {
      color: gray;
      font-weight: bold;
      font-size: 1.2rem;
      padding: 10px 0 20px;
      border-bottom: 2px solid lightgray;
    }
    h6 {
      font-size: 1.5rem;
      color: $secondary-color;
      padding: 20px 0;
    }

    .delivery {
      padding: 0 0 50px;
      h6 {
        color: black;
        font-size: 1.3rem;
      }

      li {
        list-style: none;
        padding: 10px;

        &::before {
          content: "";
          display: inline-block;
          width: 15px;
          height: 10px;
          margin: 0 10px;
          background-color: $secondary-color;
          border-radius: 0 25px 25px 0;
          border-bottom: 2px solid black;
        }
      }
    }
  }
}
