@import "../../styles/variables";

.productTile {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  cursor: pointer;

  img {
    height: 150px;
    width: 100%;
    object-fit: contain;
    justify-self: center;
  }

  .info {
    padding: 20px;

    .title {
      margin: 5px 0;
      font-size: 1rem;
    }
    .price {
      margin: 5px 0;
      font-size: 1rem;
      color: $secondary-color;
    }
  }
}
