@import "../../styles/variables";

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  height: 64px;
  width: 100%;

  background-color: white;
  box-shadow: 5px 0px 10px gray;
  z-index: 9999;
  nav {
    display: flex;
    justify-content: center;
  }
  a {
    height: 100%;
    width: 120px;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    color: #525252;
    text-decoration: none;

    &:hover,
    &.active {
      color: black;
      border-bottom: 4px solid $primary-color;
    }
  }
}

.cartCount {
  background-color: red;
  color: white;
  display: inline-block;
  //   height: 1.2rem;
  width: 1.2rem;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 50%;
  margin-left: 5px;
  padding: 0.25rem 0;
}
