.carouselContainer {
  position: relative;
  margin-bottom: 2rem;

  & > button {
    position: absolute;
    padding: 0.5rem;
    border-radius: 4rem;
    width: 4rem;
    height: 4rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 900;
    z-index: 99;

    background-color: rgba(170, 170, 170, 0.6);
    //   color: $secondary-color;
    border: none;

    &.previous {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}
.carousel {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding: 0 50%;

  &::-webkit-scrollbar {
    display: none;
  }
}
